<!DOCTYPE html>
<html>

<head>
  <title>Newsletter</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </script>

</head>

<body>
  <!--Label Selection-->
  <div>
    <div id="labelselect" class="inline">
      <span class="badge all" id="all-label" draggable="true" ondragstart="drag(event)">All</span>
    </div>
    <div class="inline"> <span class="badge badge-primary" id="addlabel" data-toggle="modal"
        data-target="#labelmodal">Add
        Label</span></div>
  </div>
  <!--Articles Table-->
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Article</th>
        <th scope="col">Labels</th>
      </tr>
    </thead>
    <tbody id="articletable">
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="labelmodal" tabindex="-1" role="dialog" aria-labelledby="labelmodallabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Label</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="modal-labels-set"></div>
          <br><br><br>
          <div class="form-group">
            <input type="label" class="form-control" id="newLabelInput" aria-describedby="labelHelp"
              placeholder="Enter label name">
            <small id="labelHelp" class="form-text text-muted">Everybody will be able to see and use this label.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="addNewLabel()">Add Label</button>
        </div>
      </div>
    </div>
  </div>
  <div id="pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous" onclick="loadArticles(-20)">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next" onclick="loadArticles(20)">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='palette.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>